@font-face {
    src: url("Ailerons-Typeface.otf"),
}

#header{ 
	-fx-font-size: 140px;
	-fx-font-weight: bold;
	-fx-font-family: 'Ailerons';
	-fx-font-color: #0000FF;
}

#login{
	-fx-font-size:12px;
	-fx-padding: 3px 18px;
}

#forget_password{
	-fx-font-size:12px;
	-fx-padding: 3px 18px;
}
#setting{
	-fx-padding: 200px 50px;
 	-fx-border-color: black;
 	-fx-border-width: 4;
}
